body {
    background-color: #eee;
    font-family: Helvetica, sans-serif;
}

.outer-border {
    border: 8px solid #FFFAA0;
    border-radius: 20px;
    margin: 32px 48px;
}

.homecard {
    background-color: #FFFAA0;
    padding: 16px;
}

.inner-card {
    background-color: #A7C7E7;
    margin: 32px 48px;
    padding: 16px;
    border-radius: 20px;
}

h1 {
    margin: 10px 0 10px 0;
}

img {
    width: 65%;
    height: auto;
    margin: 0 auto;
}